<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkPlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43BF5EE01C69A24700297141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BF5EF71C69A24700297141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BF5F021C69A24700297141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
